body {
    font: 20px "Gill Sans", Verdana, sans-serif;
    line-height: 1.8;
    color: #C5D89D;
    background-color: #ffffff;
    padding-top: 0px !important;
  }

.textcontainer {
  padding: 2% 10%;;
}

p {font-size: 16px;}
.margin {margin-bottom: 30px;}

a {
  color: #000000;
}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

nav {
  background-color: #F6F0D7;
  color: #9CAB84;
  padding: 50px 0px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
  color: #000000;
}

.nav-link {
  border: 3px outset #9CAB84;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #9CAB84;
  color: #EEE7E8;
  transition: 0.3s;
}

.nav-link:hover {
  border: 3px outset #FFFFFF;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #9CAB84;
  transition: 0.3s;
}

#btn {
  border: 3px outset #FFFFFF;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #9CAB84;
  color: #000000;
  transition: 0.3s;
}

#btn:hover {
  border: 3px inset #FFFFFF;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #89986D;
  transition: 0.3s;
}

.row {
  margin: auto auto;
}

.flexrow {
  display: flex;
  justify-content: space-evenly;
}

.center-row {
  display: flex;
  justify-content: center;
}

code {
  background-color: #2d2b33;
  color: #EEE7E8;
  font-family: 'Courier New', Courier, monospace;
}

.caption {
  color: gray;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

#aboutme {
  padding: 20px;
}